@model IEnumerable<EF.EF.vexe>


<div class="bookticket-title">CHI TIẾT HÓA ĐƠN</div>
<table class="table">
    <div class="container-fluid card-area">
        <div class="row" style="gap: 8px">

            @{
                int? x = Model.FirstOrDefault().tinhtrang;
                if (x == 0)
                {
                    <div class="bookticket-title" style="color:red;">Bạn chưa thanh toán cho hóa đơn này. Vui lòng thanh toán <a href="@Url.Action("Pay","Start")">tại đây</a></div>
                }
                else
                {
                    <div class="bookticket-title" style="color:red;">Bạn đã thanh toán, vui lòng đến trạm xe trước 15 phút trước giờ khởi hành <br />Chân thành cảm ơn quí khách! <a href="@Url.Action("BusStation","Start")">danh sách trạm xe</a></div> 

                }
            }
            @foreach (var item in Model)
            {
                <div class="card col-md-3">
                    <img src="~/Content/img/bus-ticket.jpg" alt="Alternate Text" class="img-ticket" />
                    <div class="card-body">
                        <p class="card-text">Mã vé: @item.mave</p>
                        <p class="card-text price">Số ghế: @item.tenghe</p>
                    </div>
                </div>
            }
        </div>
    </div>

</table>
