<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gioi Thieu</title>
</head>
<body>
   
    <div class="content">
        <div class="card mt-5 p-5">
            <h1 class="text-center mb-5">Giới thiệu về ALK Travel</h1>
            <div>
                <p>
                    Nhu cầu đi lại luôn là vấn đề cần thiết đối với mỗi người,
                    dù đã phát triển và ai cũng sở hữu một phương tiện đi lại nhưng
                    đối với nhưng tuyến đường xa (Đà Nẵng – Hồ Chí Minh, Đà Nẵng – Hà Nội)
                    thì muốn thực hiện chuyến đi là điều cực kỳ khó khăn. Hiểu được những khó khăn bất cập đó, nhà xe ALK Travel chúng tôi luôn sẵn sàng phục vụ quý khách. Với mục đích ưu tiên chất lượng là chính, chúng tôi sẽ đem đến những trải nghiệm tốt nhất đối với khách hàng của mình.
                </p>
            </div>

            <div class="row mb-5">
                <img class="col-12 col-md-6" src="~/Content/img/logo.jpg">
                <div class="col-12 col-md-6 mt-1">
                    <p>
                        ALK Travel được thành lập bởi 2 thành viên: Phạm Thanh Luận, Trương Thanh Nhựt
                        được thành lập vào ngày 10/10/2017 với hoạt động chính trong lĩnh vực dịch vụ vận tải hành khách.
                    </p>
                    <p>
                        Ra đời từ một doanh nghiệp nhỏ với ố lượng đầu xe chỉ từ 5 đến 10 chiếc các loại. Trải qua quá trình hoạt động với
                        đường lối kinh doanh Uy tín - Chất lượng, với phương châm phục vụ "Chất lượng là danh dự", sự lịch thiệp, hòa nhã, tận tình
                        chu đáo của đội ngũ nhân viên, Công ty cổ phần xe khách ALK đã trở thành một địa chỉ tin cậy của đông đảo khách hàng trong cả nước
                        được hành khách và lãnh đạo chính quyền các cấp hết lòng khen ngợi và đánh giá cao
                    </p>
                </div>
            </div>

            <div class="row flex-md-row-reverse mb-5">
                <img class="col-12 col-md-6" src="~/Content/img/pexels-mads-thomsen-1178448.jpg">


                <div class="col-12 col-md-6 text-center  mt-1"> <p>
                    Trong lĩnh vực vận tải hành khách Công tu mở rộng hoạt động vận tải chất lượn cao phục vụ cho nhu cầu đi lại của người dân từ khu vực
                    miền Trung từ Huế, Đà Nẵng đến hầu hết các tỉnh khu vực Đồng Bằng sông Cửu Long. Với hình ảnh chiếc xe 45 chỗ hiện đại, tiện nghi cùng
                    với màu áo xanh của đội ngũ lái xe ALK Travel đã tỏa đi hầu hết các tuyến đường cả nước từ Huế trở vào cuối miền Đất Nước. Đến nay công ty đã có hơn 100 xe khách 45 chỗ thương hiệu Huyndai dòng cao cấp nhất
                </p>
                <p>Còn chần chừ gì nữa mà không đặt vé ngay nào !!!</p>
                <p>Mọi thắc mắc vui lòng liên hệ qua gmail: chamsockhachhang.alktravel@gmail.com</p></div>
            </div>

            <img>
           



        </div>
    </div>
</body>
</html>
