
<table class="table table-bordered" style="margin-top:50px;">
    <thead>
        <tr>
            <th scope="col">Tỉnh/Thành phố</th>
            <th scope="col">Địa chỉ trạm xe</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hồ Chí Minh</td>
            <td>Bến Xe Miền đông trạm số 20</td>
        </tr>
        <tr>
            <td>Phan Thiết</td>
            <td>02 Từ Văn Tư, Phú Trinh, Thành phố Phan Thiết, Bình Thuận</td>
        </tr>
        <tr>
            <td>Đà Lạt</td>
            <td>1 Đường Tô Hiến Thành, Phường 3, Thành phố Đà Lạt, Lâm Đồng, Việt Nam</td>
        </tr>
    
    <tr>
        <td>Vũng Tàu</td>
        <td>Nam Kỳ Khởi Nghĩa, Phường Thắng Tam, Vũng Tàu, Bà Rịa - Vũng Tàu, Việt Nam</td>
    </tr>
    <tr>
        <td>Đà Nẵng</td>
        <td>Tôn Đức Thắng, Hoà Minh, Liên Chiểu, Đà Nẵng 550000, Việt Nam</td>
    </tr>
    </tbody>

</table>