<div class="bookticket-title">
    HÓA ĐƠN ĐÃ THANH TOÁN
</div>
<div>
    <h4>
        Hóa đơn đã được thanh toán. Nếu muốn hủy đơn vui lòng liên hệ 0822668767 để được nhân viên hoàn tiền và hủy đơn.
        Lưu ý: Hóa đơn đã thanh toán chỉ có thể hoàn 50% tổng hóa đơn và chỉ hoàn tiền khi khách hàng hủy vé trước 3 ngày tính từ ngày xe khởi hành. 
    </h4>
</div>
