<div class="bookticket-title">
    THANH TOÁN
   
</div>
<div>
    <h4>
        Hình thức thanh toán: <br /> <br />
        Momo - 0965412293 <br />
        Vietcombank - 0621000469820 - PHAM THANH LUAN <br /> <br />
        Nội dung chuyển khoản: <span class="text-danger">[Số điện thoại]_[HOTEN]_[Số hóa đơn]</span>  <br />
        Ví dụ: 0965412293_PHAMTHANHLUAN_1 <br />
    </h4>
</div>
