
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quy Định</title>
</head>
<body>
    <div class="content">
        <div class="card mt-5 p-5">
            <h1 class="text-center mb-5">Vận chuyển du lịch lữ hành chất lượng cao</h1>

            <div>
                <p>Với đoàn xe đời mới nhất, hiệu UNIVERSE của hãng Huyndai - Hàn Quốc tiện nghi hiện đại sẽ mang đến cho quý khách trải nghiệm tốt nhất khi sử dụng dịch vụ của chúng tôi. Lái xe kinh nghiệm, nhiệt tình và hướng dẫn viên lành nghề, lịch sự, chu đáo sẽ đem lại cho quý khách sự thoải mái, hài lòng trên mọi chặng đường.</p>
            </div>

            <div class="row">
                <img class="col-12 col-md-6" src="~/Content/img/universe-luxury-m.jpg">
                <div class="col-12 col-md-6">
                    <p>Xe trung chuyển đưa đón khách tận nơi trong bán kính 10km trừ khu vực TP. Hồ Chí Minh.</p>
                    <p>Nhà chờ sạch sẽ, thoáng mát. Có nhà vệ sinh phục vụ cho hành khách</p>
                    <p>Miễn phí nước uống, khăn lạnh, dép khi đến địa điểm ăn hoặc vệ sinh</p>
                </div>
            </div>

            <div class="row flex-md-row-reverse mb-5">
                <img class="col-12 col-md-6" src="~/Content/img/Untitled-design-3.jpg">
                <p class="col-12 col-md-6 text-center">Đặt vé nhanh, nhân viên nhiệt tình</p>
            </div>

            <div class="row  mb-5">
                <img class="col-12 col-md-6" src="~/Content/img/ben-xe-Can-Tho-9496-1585473519.jpg">
                <p class="col-12 col-md-6 text-center">Nhà chờ sạch sẽ, thoáng mát</p>
            </div>

            <div  class="row flex-md-row-reverse mb-5">
                <img class="col-12 col-md-6" src="~/Content/img/noble-45-seater-high-decker-m.jpg">
                <p class="col-12 col-md-6 text-center">Ghế đạt chuẩn, êm ái,thiết kế hiện đại</p>
            </div>


            
            <p class="px-5">Mọi chi tiết thắc mắc hay có vấn đề khiếu nại vui lòng liên hệ qua email: chamsockhachhang.alktravel@gmail.com </p>

        </div>
    </div>
</body>
</html>
