@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home page";
}
@section Header{
    <h1></h1>
}
<style>
    .card-body {
        background: url('/Content/img/logo.jpg');
        background-position: center;
        background-size: cover;
        height: 100%;
    }
    }
    
</style>
    <div class="card-body">
    </div>
 


